<div class="flex gap-4">
  <%= link_to new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" do %>
    <i class="fa-solid fa-plus"></i> Create Post
  <% end %>
  <div class="rounded-lg py-3 px-5 bg-gray-400 text-white font-medium">
    <i class="fa-solid fa-bell"></i>
  </div>
</div>