<%= link_to post do %>
  <div id="<%= dom_id post %>">
    <div class="py-1 text-3xl">
      <%= post.title %>
    </div>
    <div class="py-4">
      <%= post.body %>
    </div>
    <% if action_name != "show" %>
      <hr class="m-4">
    <% end %>
  </div>
<% end %>
