<nav class="flex items-center justify-between w-full h-1/6 bg-gray-100 px-5 py-1 sticky inset-0">
  <div class="text-4xl font-bold text-[#f15425]">
    <%= link_to 'cruddit', root_path %>
  </div>
  <div class="flex justify-between items-center gap-4">
    <div class="bg-green-400 py-2 px-4 rounded-lg text-white">
      Sign In
    </div>
    <div class="bg-orange-400 py-2 px-4 rounded-lg text-white">
      Register
    </div>
  </div>
</nav>