<section class="flex flex-col w-1/3">
  <div class="flex items-center bg-violet-800 h-12 rounded-t-lg rounded-tr-lg p-4">
    <span class="text-gray-100 text-xl">
      About Community
    </span>
  </div>
  <div class="bg-gray-100 p-4 rounded-b-lg rounded-br-lg">
    <p class="mb-4">
      [noun] gossip; rumors; chit-chat. Must have 200+ karma and >14-day old account to engage in this community. This subreddit primarily serves as a gossip page, where users can share and discuss various rumors, speculations, and gossip within a designated context.
    </p>
    <span class="text-gray-400">
      <i class="fa-solid fa-cake-candles"></i> Created Feb 17, 2024
    </span>
  </div>
</section>
